<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="OUTPUT_PATTERN" value="[%X{tk_key} PROD] %-12(%d{yyyy-MM-dd HH:mm:ss.SSS}) [%thread] %-5level %logger{36}- %msg%n"/>
    <appender name="STDOUT"
              class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${OUTPUT_PATTERN}</pattern>
        </encoder>
    </appender>
    <appender name="FILE">
        <file>.${file.separator}app.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>
                .${file.separator}app-%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <maxHistory>30</maxHistory>
            <maxFileSize>100MB</maxFileSize>
            <totalSizeCap>20GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>${OUTPUT_PATTERN}</pattern>
        </encoder>
    </appender>
    <logger name=""/>
    <root level="info">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>